
* {
  box-sizing: border-box;

  /* Make the invisible visible */
  border: thin red solid;
  height: 400

}

.grey{
  height: 200px;
  width: auto;
  text-align: left;
  background-color: lightgray;
}

.button{
  color: white;
  text-align: center;
  height: 40px;
  width: 130px;
  padding: 4px;
  border-radius:45px;
  background-color: blue;
  float: left;
}

.rows {
  clear: both;
}

.one-fourth {
  float: left;
  width: 25%;
}

.one-third {
  float: left;
  width: 33%;
}

.two-third{
  float: left;
  width: 66%;
}
